{% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% extends layout %}

{% block title %}Radar data{% endblock %}

{% block section_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Radar data for widget {{ wid }}</h3>
        </div>
        <div class="panel-body" id="text_content">

            <div class="radarcontent" id="radarcontent{{ wid }}" data-widget-instance="{{ wid }}">
            {% if resourcelist != '' %}
                <a class="btn btn-primary btn-sm showcsv" id="showcsv">Afficher le graphique</a>
                <a class="btn btn-primary btn-sm exportgraph" id="exportgraph">Enregistrer l'image</a>
                <a class="btn btn-primary btn-sm exo-statistics-results" id="exo-statistics-results">
                    {{ 'show_result_stats_html' | trans({}, 'messages') }}
                </a>
                <a href="{{ path('ujm_paper_export_all_results_csv_v4', {resourcedata: resourcelist}) }}"
                   class="btn btn-primary btn-sm" id="export_all_results_cvs">
                    {{ 'export_results_stats_csv' | trans({}, 'messages') }}
                </a>
            {% endif %}

                <span class="userresource" id="userresource" data-user="{{ userlist }}" data-resource="{{ resourcelist }}"></span>
                <div class="containerradardata" id="containerradardata"></div>
                <div class="containerradar" id="containerradar"><canvas id="radaranalytics" class="radarstat" height="350" width="300"></canvas></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/cpasimusanteexoverride/css/exoverride.css') }}">
 {% endblock %}

 {% block javascripts %}
     {# Claroline JS #}
    {{ parent() }}
     <script src="{{ asset('bundles/cpasimusantechartnew/js/ChartNew.js') | raw }}"></script>
     <script src="{{ asset('bundles/cpasimusanteexoverride/js/exoverride-popup.js') | raw }}"></script>
{% endblock %}