{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ 'paper_list' | trans }} {% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">HTML display of results for exercises</h3>
    </div>

    <div class="panel-body">

                {% for exercise in row %}
                    <table class="table table-responsive">
                        <tr><td colspan="2"><b>{{ exercise.exercise }}</b></td><td>Moyenne Générale : {{ exercise.galmean }}</td></tr>
                        <tr><td colspan="3"><ul>{% for question in exercise.question %}<li>{{ question.name }}</li>{% endfor %}</ul></td></tr>
                    {% for user in exercise.user %}
                        <tr><td><u> {{ user.uname }}</u></td><td>Essai: {{ user.nbTries }}</td><td>Moyenne : {{ user.mean }}</td></tr>
                        <tr>
                            <td colspan="3">Marks : {% for inc, mark in user.mark %}
                            {{ mark }} ({{ user.question[inc] }}) -
                        {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
