{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ 'paper_list' | trans }} {% endblock %}

{% block section_content %}

    <div class="panel-heading">
        <h3 class="panel-title">HTML display of results for exercises</h3>
    </div>

    <div class="panel-body">

        {% for exercise in row %}
            <b>{{ exercise.exercise }}</b>-gmean {{ exercise.galmean }}<br>
            {% for user in exercise.user %}
               <u> {{ user.uname }}</u> : tries: {{ user.nbTries }}, mean: {{ user.mean }}<br>
                Marks : {% for mark in user.mark %}
                    {{ mark }} -
                {% endfor %}<br>
            {% endfor %}<br>
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
